body {
  background-color: rgb(9, 9, 8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 60px;
  font-weight: 500;
  color: rgb(202, 233, 193);
  text-shadow: 2px 2px 5px rgb(41, 137, 28);
  caret-color: transparent;
}
h4{
  width: 60%;
  text-shadow: none;
  padding: 5px;
  font-size: 30px;
  background-image: linear-gradient(to right,green,white,rgb(220, 109, 53));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main{
  line-height: 20px;
}